.job {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}


.wrapper {
    display: flex;
    align-items: stretch;
}

.job .title {
    border-bottom: solid 1px #535353;
}

.jobs-container {
    position: relative;
    z-index: 0;
    min-height: calc(100% - 280px);
}

.sidebar {
    width: 280px;
    min-height: 100vh;
    background-color: #353535;
}

.navbar-nav {
    margin-left: 0px;
}

.nav-item .btn {
    min-width: 100%;
}

#history {
    width: 95%;
}

.run {
    width: 10%;
    height: 20px;
    border: 1px solid #353535;
    background-color: #535353;
    border-radius: 3px;
    margin-right: 2px;
    float: left;
    display: block;
}

.good {
    background-color: green
}

.bad {
    background-color: red;
}

.toast {
    min-width: 300;
    min-height: 200;
}
